body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.joystick {
  position: absolute;
  width: 20vw;
  top: 25%;
  z-index: 1;
  margin-left: 5vw;
}

.joystick-background {
  width: 100%
}
.joystick-button {
  position: absolute;
  width: 33%;
  height: 33%;
  opacity: 0;
}


img {
  -webkit-touch-callout: none; /* Prevent long-press context menu on iOS */
  -webkit-user-select: none;  /* Prevent text/image selection */
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; /* Prevent selection */
  pointer-events: auto; /* Allow interactions like clicks or mouse events */
}

.joystick-button.top {
  transform: translate(-200%);
}

.joystick-button.bottom {
  transform: translate(-200%, 200%);
}

.joystick-button.left {
  transform: translate(-200%, -200%);
}

.joystick-button.right {
  transform: translate(-100%, 100%);
}

.joystick-button.left {
  transform: translate(-300%, 100%);
}

.control-button {
  position: relative;
  width: 10vw;

}

.control-button-background {
  width: 100%
}



.control-buttons-container {
  display: flex; 
  gap: 2vw; 
  justify-content: center; 
  align-items: center; 
}


.toggle-buttons-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}



.buttons-container {
  position: absolute;
  top: 25%; 
  left: 75%;
  display: flex;
  flex-direction: column;
  gap: 2vw;
  z-index: 1;
}
